{% load django_bootstrap5 partials component_tags %}
{% include "core/_messages_as_event.html" %}
{% comment %} <form action="{% url 'blog:tag_new' %}" method="post" autocomplete="off" novalidate="novalidate"> {% endcomment %}

{% partialdef tag-form %}
  <form hx-post="{{ request.get_full_path }}" 
        hx-trigger="submit once" 
        hx-swap="outerHTML" 
        autocomplete="off" 
        novalidate="novalidate">
        {% csrf_token %}
        {% bootstrap_form form %}
  </form>
{% endpartialdef %}

{% if request.method == 'POST' %}
  {% partial tag-form %}
{% else %}
  {% component "modal-form" id="tag-form" %}
    {% fill "modal-title" %}
      {% if not form.instance.pk %}태그 생성{% else %}태그 수정{% endif %}
    {% endfill %}
    {% fill "modal-body" %}
      {% partial tag-form %}
    {% endfill %}
  {% endcomponent %}

  <script>
    (function() {
      const modalEl = document.currentScript.previousElementSibling;
      document.body.addEventListener("refresh-tag-list", function () {
        htmx.trigger(modalEl, "hide")
      });
    })();
  </script>

{% endif %}


